@model IEnumerable<BusinessLayer.ViewModels.MessageVM>
@using Microsoft.AspNet.Identity;


<div id="msg">
    @{
        Html.RenderPartial("_IndexMessagesPartial", Model);
    }
</div>



<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body ml-5">
                <p>Are You Sure You Want To delete This Message ?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="#" class="btn btn-success" onclick="DeleteMessage()">Confirm</a>
            </div>

        </div>
    </div>
</div>
@*hidden field for storing current employeeId*@
<input type="hidden" id="hiddenMessageId" />


@section scripts{

    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/js"></script>
    <script>
        var proxy = $.connection.MessageHub;
        $.connection.hub.start().done(
            function () {
                console.log("Started");
            });
        proxy.client.NotifyNewMessage = function (dealerId) {
            if (dealerId == "@User.Identity.GetUserId()"){ 
                $.ajax({
                    type: "POST",
                    url: "/Message/IndexMessagesPartial",
                    contentType: 'html',
                    success: function (result) {
                        $("#msg").html(result);
                    }

                })
                
                
                }
                

        }


        var ConfirmDelete = function (MessageId) {

            $("#hiddenMessageId").val(MessageId);
            $("#myModal").modal('show');

        }

        var DeleteMessage = function () {



            var empId = $("#hiddenMessageId").val();

            $.ajax({

                type: "POST",
                url: "/Message/Delete",
                data: { Id: empId },
                success: function (result) {

                    $("#myModal").modal("hide");
                    $("#row_" + empId).remove();

                }

            })

        }



    </script>

}
