@model IEnumerable<BusinessLayer.ViewModels.CarVM>

@{
    ViewBag.Title = "Cars";
}
<h2>@ViewBag.CarType </h2>
<h1 class="text-center">@ViewBag.Message </h1>
<div class="row">
    <div class="col-md-4">
        <div class="jumbotron bg-white shadow p-3 mb-4 rounded w-100">
            <div class="jumbotron p-3 m-3">
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="Radios1" value="All">
                        <label class="form-check-label" for="exampleRadios1">All</label>
                    </div>
                    <hr />
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="Radios2" value="Used">
                        <label class="form-check-label" for="exampleRadios2">Used</label>
                    </div>
                    <hr />
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="Radios3" value="New">
                        <label class="form-check-label" for="exampleRadios2">New</label>
                    </div>
                </div>
            </div>
            <div class="m-3">
                <p>Price</p>
                <div id="slider"></div>
            </div>

        </div>
    </div>
    <div class="col-md-8" id="carid"></div>
    </div>
    @* Add style to this page *@
    @section head{
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <style type="text/css">
            body {
                background-color: #f5f7f8;
            }
        </style>
    }

    @section scripts{
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
        $(document).ready(function () {
            var condition = "All";
            var minprice = 1000;
            var maxprice = 50000;
        if (condition == "All") {

            document.getElementById("Radios1").checked = true;
        }
        else if (condition == "Used") {

            document.getElementById("Radios2").checked = true;
        }
        else
        {
            document.getElementById("Radios3").checked = true;

        }
        $('input[type=radio][name=exampleRadios]').change(function () {

            condition = this.value;
            $.ajax('/Home/ParaSearch',
                {
                    type: 'POST',
                    dataType: 'html',
                    data: { MinPrice: minprice, MaxPrice: maxprice,Condition: this.value },

                    success: function (data, status, xhr) {

                        $("#carid").html(data)
                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                    }
                });
        });

            var sliderDiv = $('#slider');
            sliderDiv.slider({
                range: true,
                min: 1000,
                max: 150000,
                values: [minprice, maxprice],

                stop: function (event, ui) {
                    minprice = ui.values[0];
                    maxprice = ui.values[1];
                    $.ajax('/Home/ParaSearch',
                        {
                            type: 'POST',  // http method
                            dataType: 'html',
                            data: { MinPrice: ui.values[0], MaxPrice: ui.values[1], Condition: condition},  // data to submit

                            success: function (data, status, xhr) {
                                
                                $("#carid").html(data)
                        },
                        error: function (jqXhr, textStatus, errorMessage) {
                        }
                    });
                }
            });
        });
        </script>
    }
