    
@{
    ViewBag.Title = "Index";
}

<main role="main">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    
                    <img src="https://cdn.mattaki.com/hyundai/page-builder/content-pieces/7ab42be9-7288-4b36-90cc-0b3c18a18ab5/image.jpg" alt="Alternate Text" />
                    <div class="container">
                        <div class="carousel-caption text-left" style="top: 70px; bottom: auto;">
                            <h1>Find Yours Now</h1>
                            <p>Some representative placeholder content for the first slide of the carousel.</p>
                            <p><a class="btn btn-lg btn-info" href="#AdvSearch">Search</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://www.hyundai.news/fileadmin/eu/models/20181213_hyundai_wins_at_next_green_car_awards/Kona-Electric-e2e.jpg" alt="Alternate Text" />

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Another example headline.</h1>
                            <p>Some representative placeholder content for the second slide of the carousel.</p>
                            <p><a class="btn btn-lg btn-info" href="#">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://www.hyundai.news/fileadmin/eu/brand/20190924_hyundai_promise/hyundai-used-car-range-e2e.jpg" alt="Alternate Text" />

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Become A Dealer</h1>
                            <p>Some representative placeholder content for the third slide of this carousel.</p>
                            <p>@Html.ActionLink("Become A Dealer", "Register", "Account", new { area = "Accounts" }, new { @class = "btn btn-lg btn-info" })</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    @Html.Partial("_AdvSearchPartial")
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                <h2>Heading</h2>
                <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                <h2>Heading</h2>
                <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                <h2>Heading</h2>
                <p>And lastly this, the third column of representative placeholder content.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
                <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

            </div>
        </div>


    </div>
</main>
@section head{

    <link href="~/Content/carousel.css" rel="stylesheet" />
}
@section scripts{
    <script>
        document.getElementById("container").className = "container-fluid p-0"; 
        $(function () {

            AjaxCall('/Admin/Brands/GetBrands', null).done(function (response) {
                if (response.length > 0) {
                    $('#BrandId').html('');
                    var options = '';
                    options += '<option value='+null+'>Brands</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].Id + '">' + response[i].Name + '</option>';
                    }
                    $('#BrandId').append(options);

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });

            $('#BrandId').on("change", function () {
                var BrandId = $('#BrandId').val();
                if (BrandId == "null") {
                    $('#Model').html('');
                    var options = '<option value=' + null +'>Modles</option>';
                    $('#Model').append(options);
                    return;
                }
                var obj = { BrandId: BrandId };
                AjaxCall('/Dealer/Car/CarsForBrand', JSON.stringify(obj), 'POST').done(function (response) {
                    if (response.length > 0) {
                        $('#Model').html('');
                        var options = '';
                        options += '<option value=' + null +'>Modles</option>';
                        for (var i = 0; i < response.length; i++) {
                            options += '<option value="' + response[i] + '">' + response[i] + '</option>';
                        }
                        $('#Model').append(options);

                    }
                }).fail(function (error) {
                    alert(error.StatusText);
                });
            });

        });

        function AjaxCall(url, data, type) {
            $('#Model').html('');
            var options = '<option value=' + null +'>Modles</option>';
            $('#Model').append(options);
            return $.ajax({
                url: url,
                type: type ? type : 'GET',
                data: data,
                contentType: 'application/json'
            });
        }
    </script>
}
